<div class="wrapper">
  <app-header></app-header>
  <div class="background-color text-color flex-fill">
    <div class="p1 max-size">
      <span>Ficha: Código da ficha</span>
      <app-player-traits></app-player-traits>
      <app-player-attributes></app-player-attributes>
      <app-weapons-list></app-weapons-list>
      <app-text-area-component type="history"></app-text-area-component>
      <app-text-area-component type="annotations"></app-text-area-component>
    </div>
  </div>
  <app-footer></app-footer>
</div>
