<footer class="accent-container">
  <div class="p2 flex flex-column align-center gap1">
    <span class="font-size-title">Created By Felipe Scherer</span>
    <div class="flex justify-center flex-wrap gap1">
      <a href="https://www.linkedin.com/in/ofelipescherer/" target="_blank" alt="Linkedin">
        <img
          alt="Linkedin"
          onerror=""
          src="https://img.shields.io/badge/-Linkedin-0e76a8?logo=Linkedin&logoColor=white&https://www.linkedin.com/in/ofelipescherer/"
      /></a>

      <a href="https://github.com/ofelipescherer" target="_blank" alt="Github">
        <img
          alt="Github"
          onerror=""
          src="https://img.shields.io/badge/-Github-100000?logo=github&logoColor=white&link=https://github.com/ofelipescherer"
      /></a>

      <a href="https://github.com/ofelipescherer" target="_blank" alt="Github">
        <img
          alt="Github"
          onerror=""
          src="https://img.shields.io/github/license/ofelipescherer/rpg-angular-v2.svg"
      /></a>
    </div>
  </div>
</footer>
