<div class="flex relative">
  <div class="bookmarks flex-column mt1 flex">
    <div>
      <a (click)="scrollTo('playerTraits')" class="material-symbols-outlined border-radius-top"> star </a>
    </div>
    <div>
      <a (click)="scrollTo('playerTraits')" class="material-symbols-outlined"> description </a>
    </div>
    <div>
      <a (click)="scrollTo('playerTraits')" class="material-symbols-outlined"> backpack </a>
    </div>
    <div>
      <a (click)="scrollTo('annotations')" class="material-symbols-outlined border-radius-bottom">
        sports_martial_arts
      </a>
    </div>
  </div>

  <div class="flex flex-column gap1 align-end pl2">
    <div class="flex flex-wrap gap1">
      <button class="btn-danger">Deletar</button>
      <button class="btn-back" (click)="refresh()">Atualizar</button>
      <button class="btn-add" (click)="updateCS()">Salvar</button>
    </div>
    <div>
      <app-player-traits id="playerTraits" [data]="service$"></app-player-traits>

      <app-player-attributes></app-player-attributes>
      <app-weapons-list></app-weapons-list>
      <app-text-area-component type="history"></app-text-area-component>
      <div id="annotations">
        <app-text-area-component type="annotations"></app-text-area-component>
      </div>
      <app-player-fa></app-player-fa>
    </div>
  </div>
</div>
