.card {
  border-left: 1px solid #f6d319a6;
  border-right: 1px solid #f6d319a6;
  border-bottom: 1px solid #f6d319a6;
  border-radius: 0 0 23px 23px;
  background-color: transparent;
  height: 150px;
  width: 145px;
}

.container-title {
  border-radius: 23px 23px 0 0;
  background-color: #f6d319a6 !important;
}
