@import '../../../styles/theme.scss';

.search-container {
  background-color: var(--background-input);
  display: flex;
  // justify-content: center;
  align-items: center;
  transition: 0.05s;
  border-radius: 6px;
  max-height: 2.8rem;
  width: 100%;
  border: 1px solid #0e0e0e1f;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #535353a3;
    opacity: 1; /* Firefox */
    font-size: 12px;
    font-weight: 400;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(115, 115, 115, 0.4);
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(115, 115, 115, 0.4);
  }
  input {
    width: 100%;
    color: var(--text-color);
    font-size: 1rem;
    padding: 0.5rem;
    border: none;

    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  &:focus-within {
    outline: 1px solid red;
  }
}
