<div class="flex flex-column gap05">
  <h2>Personagem:</h2>
  <form class="flex flex-column gap05" [formGroup]="playerForm">
    <div class="search-container mt-2 mb-05">
      <input formControlName="name" type="text" class="w-100" placeholder="Nome" />
    </div>

    <div class="search-container mt-2 mb-05">
      <input formControlName="sparkEffect" type="text" class="w-100" placeholder="Efeito Spark" />
    </div>
    <div class="flex align-center justify-between">
      <label for="description">Origem: </label>
      <select name="origin" formControlName="origin">
        <option value="none" selected disabled hidden>Choose here</option>
        <option value="central_plaza">Central Plaza</option>
        <option value="little_floreasp">Little Floreasp</option>
        <option value="high_forwib">High Forwib</option>
        <option value="industrial_district">Industrial District</option>
        <option value="great_hill">Great Hill</option>
        <option value="downtown">Downtown</option>
        <option value="fewscraps_district">Fewscraps District</option>
        <option value="midnight_subdistrict">Midnight Subdistrict</option>
      </select>
    </div>
  </form>

  <div class="flex gap1 align-center justify-between flex-wrap font-size-text">
    <div class="flex flex-column align-center gap025">
      <span>Vida</span>
      <div class="flex gap05 counter-attacks">
        <button class="btn-icon">
          <span class="material-symbols-outlined" (click)="addLife()"> add </span>
        </button>
        <span class="pointer" (click)="changeValue('vida atual', 'currentLife')">
          {{ this.playerForm?.value?.currentLife }}
        </span>
        <span>/</span>
        <span class="pointer" (click)="changeValue('vida total', 'totalLife')">
          {{ this.playerForm?.value?.totalLife }}
        </span>
        <button class="btn-icon">
          <span class="material-symbols-outlined" (click)="removeLife()"> remove </span>
        </button>
      </div>
    </div>

    <div class="flex flex-column align-center gap025">
      <span>Estabilidade</span>
      <div class="flex gap05 counter-attacks">
        <button class="btn-icon">
          <span class="material-symbols-outlined" (click)="addStability()"> add </span>
        </button>
        <span class="pointer" (click)="changeValue('estabilidade atual', 'currentStability')">
          {{ this.playerForm?.value?.currentStability }}
        </span>
        <span>/</span>
        <span class="pointer" (click)="changeValue('estabilidade total', 'totalStability')">
          {{ this.playerForm?.value?.totalStability }}
        </span>
        <button class="btn-icon">
          <span class="material-symbols-outlined" (click)="removeStability()"> remove </span>
        </button>
      </div>
    </div>

    <div class="flex flex-column align-center gap025">
      <span>Contra-ataque</span>
      <div class="flex gap05 counter-attacks">
        <div
          *ngFor="let counter of counterAttacks; let i = index"
          [ngClass]="counter ? 'selected' : ''"
          (click)="changeCounterAttack(i)"
        ></div>
      </div>
    </div>

    <div class="flex flex-column align-center gap025">
      <span>Defesa</span>
      <button
        class="defence-button"
        [ngClass]="this.playerForm?.value?.defence ? 'activate' : ''"
        (click)="this.playerForm.get('defence')?.setValue(!this.playerForm?.value?.defence)"
      >
        {{ this.playerForm?.value?.defence ? 'Ativada' : 'Desativada' }}
      </button>
    </div>
  </div>
</div>
