<div class="flex flex-column gap05">
  <h2>Personagem:</h2>
  <form class="flex flex-column gap05" [formGroup]="playerForm">
    <div class="search-container mt-2 mb-05">
      <input formControlName="name" type="text" class="w-100" placeholder="Nome" />
    </div>

    <div class="search-container mt-2 mb-05">
      <input formControlName="sparkEffect" type="text" class="w-100" placeholder="Efeito Spark" />
    </div>
    <div class="flex align-center justify-between">
      <label for="description">Origem: </label>
      <select name="origin" formControlName="origin">
        <option value="" selected disabled hidden>Choose here</option>
        <option value="central_plaza">Central Plaza</option>
        <option value="little_floreasp">Little Floreasp</option>
        <option value="high_forwib">High Forwib</option>
        <option value="industrial_district">Industrial District</option>
        <option value="great_hill">Great Hill</option>
        <option value="downtown">Downtown</option>
        <option value="fewscraps_district">Fewscraps District</option>
        <option value="midnight_subdistrict">Midnight Subdistrict</option>
      </select>
    </div>
  </form>

  <div class="flex gap1 align-center justify-between flex-wrap font-size-text">
    <div class="flex gap1 align-center">
      <span>Vida: </span>
      <button class="btn-icon"><span class="material-symbols-outlined"> add </span></button>
      <span>14/14</span>
      <button class="btn-icon"><span class="material-symbols-outlined"> remove </span></button>
      <!-- <input [formControl]="name" type="text" class="w-100" placeholder="Vida" /> -->
    </div>
    <div class="flex gap1 align-center">
      <span>Estabilidade: </span>
      <button class="btn-icon"><span class="material-symbols-outlined"> add </span></button>
      <span>14/14</span>
      <button class="btn-icon"><span class="material-symbols-outlined"> remove </span></button>
      <!-- <input [formControl]="name" type="text" class="w-100" placeholder="Estabilidade" /> -->
    </div>
  </div>
</div>
