<div class="flex align-center container" [ngStyle]="{ 'box-shadow': '2px 2px 7px ' + '#' + data?.color }">
  <div
    class="container-value flex p05 flex-column align-center"
    [ngStyle]="{ 'background-color': '#' + data?.color }"
  >
    <span class="title font-size-title">{{ data?.totalValue | number: '3.0' }}</span>
    <span class="subtitle font-size-text">000</span>
  </div>
  <div class="relative flex flex-fill justify-center">
    <button class="btn-info">
      <span class="material-symbols-outlined"> info </span>
      <!-- <span>{{ data?.info }}</span> -->
    </button>
    <span>{{ data?.name }}</span>
  </div>
</div>
